.centerMarker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-image: url("https://cdn0.iconfinder.com/data/icons/20-flat-icons/128/location-pointer.png");
  background-size: contain;
  z-index: 1000;
}
